# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools
aclocal.m4
libtool
configure
stamp-h1
.deps
config.*
config/*
autom4te.*
m4/*
Makefile
Makefile.in

